div#lionImageDiv {
    background-image: url("../images/sand.jpg");
    cursor: pointer;
    width: 128;
    height: 128;
    position: relative;
}

ul {
    margin-top: 0.5em;
}

p {
    margin-bottom: 0.5em;
}

.buttonCell {
    text-align: center;
}

div.infoDiv {
    display: none;
}

div.infoDiv#profileDiv {
    display: block;
}

.navButton {
    float: right;
}