.restartButton {
    background-color: #EAA;
    color: #C66;
    border: 2px solid #C66;
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
}

.navButton {
    background-color: #EDC;
    color: #A86;
    border: 2px solid #A86;
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
}

#closeMenuButton {
    float: right;
}